{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/fallas"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/agregar"><i class="fas fa-window-maximize"></i><span>Agregar</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i><span>Logout</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="app">
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Fallas de los Transformadores</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Buscar por falla en triángulo 1
                                        <select class="d-inline-block form-select form-select-sm"
                                        v-model="mostrar">
                                            <option value="">all</option>
                                            <option value="PD">PD</option>
                                            <option value="T1">T1</option>
                                            <option value="T2">T2</option>
                                            <option value="T3">T3</option>
                                            <option value="D1">D1</option>
                                            <option value="D2">D2</option>
                                            <option value="DT">DT</option>
                                        </select></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label"><input type="search"
                                            class="form-control"
                                            placeholder="Buscar por Nombre"
                                            v-model="kword"
                                            ></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>transformadores</th>               
                                            <th>triangulo 1</th>               
                                            <th>triangulo 4</th>      
                                            <th>triangulo 5</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                        v-for="trans in transformadores"
                                        :key="trans.id">
                                            <th>{$ trans.nombre $}</th>
                                            <td><a :href="'triangulo1/'+trans.id">{$trans.t1fallas$}</a></td>
                                            <td><a :href="'triangulo4/'+trans.id">{$trans.t4fallas$}</a></td>
                                            <td><a :href="'triangulo5/'+trans.id">{$trans.t5fallas$}</a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>transformadores</th>               
                                            <th>triangulo 1</th>               
                                            <th>triangulo 4</th>      
                                            <th>triangulo 5</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script type="text/javascript" src="{% static 'vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'axios.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>