{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/fallas"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i><span>Logout</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="app">
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Fallas de los Transformadores</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 text-nowrap">
                                    <div><label>Transformador
                        
                                        <select class="d-inline-block form-select form-select-sm"
                                        v-model="mostrar">
                                            <option :value="nom.id" v-for="(nom, id) in nombre"
                                            :key="id" @click="Seleccionar(nom.nombre, id, nom.id)">{$nom.nombre$}</option>
                                        </select></label>
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="col-md-1">
                                    <button class="btn btn-block btn-info" @click="Agregartransf">Agregar Transf</button>
                                </div>
                                <div v-show="ver" class="col-md-1">
                                    <button class="btn btn-block btn-danger btnEliminacion" @click="Eliminartransf">Eliminar Transf</button>
                                </div>
                                <div v-show="ver" class="col-md-1">
                                    <button class="btn btn-block btn-info" @click="Lectura">Agregar Lectura</button>
                                </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label"><input type="date"
                                            class="form-control"
                                            placeholder="Buscar por Nombre"
                                            v-model="kword"
                                            ></label></div>
                                </div>
                            </div>
                            <div>
                                <h3 v-show="!ver">Todas las lecturas</h3>
                                <table class="table my-0" id="dataTable">
                                {% csrf_token %}
                                <thead>
                                    <tr>
                                        <th>Fecha de creación</th>               
                                        <th>CH4ppm</th>               
                                        <th>C2H4ppm</th>      
                                        <th>C2H2ppm</th>      
                                        <th>H2ppm</th>   
                                        <th>C2H6ppm</th> 
                                        <th>triangulo 1</th>               
                                        <th>triangulo 4</th>      
                                        <th>triangulo 5</th>
                                        {% if user.is_authenticated %}
                                        <th colspan="2">Opciones</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                    v-for="(trans, id) in transformadores"
                                    :key="id">
                                        <td>{$fechaform(trans.fecha)$}</td>
                                        <td>{$trans.CH4ppm$}</td>
                                        <td>{$trans.C2H4ppm$}</td>
                                        <td>{$trans.C2H2ppm$}</td>
                                        <td>{$trans.H2ppm$}</td>
                                        <td>{$trans.C2H6ppm$}</td>
                                        <td><a :href="'triangulo1/'+trans.id">{$trans.t1fallas$}</a></td>
                                        <td><a v-if="trans.t4fallas != '-'" :href="'triangulo4/'+trans.id">{$trans.t4fallas$}</a>
                                        <p v-else></p></td>
                                        <td><a v-if="trans.t5fallas != '-'" :href="'triangulo5/'+trans.id">{$trans.t5fallas$}</a></td>
                                        {% if user.is_authenticated %}
                                        <td> <button class="btn btn-block btn-info" @click="Editar(trans)">Editar</button></td> 
                                        <td> <button class="btn btn-block btn-danger btnEliminacion" @click="Borrar(trans.id, id)">Eliminar </button></td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Fecha de creación</th>               
                                        <th>CH4ppm</th>               
                                        <th>C2H4ppm</th>      
                                        <th>C2H2ppm</th>      
                                        <th>H2ppm</th>   
                                        <th>C2H6ppm</th> 
                                        <th>triangulo 1</th>               
                                        <th>triangulo 4</th>      
                                        <th>triangulo 5</th>
                                        {% if user.is_authenticated %}
                                        <th colspan="2">Opciones</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script type="text/javascript" src="{% static 'vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'axios.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
    <script type="text/javascript" src="{% static 'sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sweetalert2.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'moment.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>